.navbar {
    background-color: aqua;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.nav-header{
    margin-left: auto;
    margin-right: auto;
}

.menu-bars{
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-menu{
    background-color: aqua;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav-menu.active{
    left: 0;
    transition: 350ms;
}

.nav-text{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover{
    background-color: blue;
}

.navbar-toggle{
    list-style: none;
}

.nav-menu-items{
    width: 100%;
}

.navbar-toggle{
    background-color: aqua;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.darkmode-toggle{
    position: relative;
}

.darkmode-input{
    position: absolute;
    left: -9999px;
    top: -9999px;
}

.darkmode-input::before{
    left: 27px;
}


.darkmode-toggle-span{
    display: flex;
    cursor: pointer;
    width: 50px;
    height: 25px;
    border-radius: 100px;   
    background-color: var(--background);
    position: relative;
    transition: background-color 0.2s;
}

.darkmode-toggle-span::before{
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 21px;
    height: 21px;
    border: 45px;
    transition: 0.2s;
    background: #fff;
    border-radius: 21px;
}

span{
    margin-left: 16px;
}

.user-section{
    border: 1px solid black;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}