.main{
    margin: 0px;
    display: grid;
    place-items: center;
}

.timer_group{
    width: 300px;
    display: flex;
    justify-content: center;
}

.timer_wrapper{
    height: 160px;
    width: 160px;
    margin-top: 30px;
}

.timer_btn_group{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.timer_btn{
    width: 80px;
    border-radius: 10px;
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
}

.active_timer_btn{
    width: 80px;
    border-radius: 10px;
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--accent2);
}


