.main{
    background-color: lightblue;
    margin: 0px;
    display: grid;
    place-items: center;
}

.timer_wrapper{
    height: 200px;
    width: 200px;
    margin-top: 30px;
}

.timer_btn_group{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.timer_btn{
    width: 50px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}


