.App{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.typing_text{
    border: 1px black solid;
    width: 70%;
    height: 25vh;
    margin-bottom: 20px;
}

textarea{
    width: 70%;
    height: 25vh;
    margin-bottom: 20px;
}