:root {
  --background: white;
  --secondary: #6200ee;
  --accent: #3700b3;
  --timer-text-color: #6200ee;
}

[data-theme='dark'] {
  --background: #37393f;
  --secondary: #1f1f1f;
  --accent: #000000;
  --timer-text-color: white;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
